<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список студентов</title>
</head>
<body>
<h1>Список студентов группы ИСТ-201</h1>

<ul>
    {% for i in students %}
        {% if i.gender == 'f' %}
            <li>
                <a href="{% url student_url i.id %}">
                    <strong>{{i.FI}}</strong>
                </a>
            </li>
        {% else %}
            <li>
                <a href="{% url student_url i.id %}">
                    <i>{{i.FI}}</i>
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>

</body>
</html>