.students-spisok{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    max-width: 600px;
}

.students-spisok img{
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

